<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="车辆轨迹数据处理.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <车辆轨迹数据处理.Properties.Settings>
            <setting name="DirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="chk_TabSeparated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chk_SemicolonSeparated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chk_CommaSeparated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chk_SpaceSeparated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chk_OtherSeparated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txt_OtherSeparator" serializeAs="String">
                <value />
            </setting>
        </车辆轨迹数据处理.Properties.Settings>
    </userSettings>
</configuration>